<mat-card class="chart-card">
    <div class="chart-title">📈 Clientes nuevos por mes</div>
    <div class="chart-content">
      <ngx-charts-line-chart
        [results]="lineChartData"
        [scheme]="'natural'"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="false"
        [view]="[500, 383]"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Mes'"
        [yAxisLabel]="'Nuevos clientes'"
        [autoScale]="true"
        [animations]="true">
      </ngx-charts-line-chart>
    </div>
  </mat-card>
  