<div class="login-wrapper">
  <mat-card class="login-card-wrapper">
    <div class="image-side">
      <img src="/logIn/logIn.png" alt="Imagen login" />
    </div>
    <div class="form-side">
      <h1 class="welcome-text">¡Bienvenido de nuevo!</h1>
      <p class="subtitle">Inicia sesión para continuar</p>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            type="email"
            placeholder="correo@ejemplo.com"
          />
          <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
            Ingresa un email válido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="togglePasswordVisibility()"
            type="button"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error
            *ngIf="password.invalid && (password.dirty || password.touched)"
          >
            La contraseña es obligatoria
          </mat-error>
        </mat-form-field>

        <div class="forgot-password">
          <a href="#" (click)="onForgotPassword($event)"
            >¿Olvidaste tu contraseña?</a
          >
        </div>

        <button
          mat-flat-button
          color="primary"
          class="full-width login-button"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          Iniciar sesión
        </button>
      </form>

      <div class="register-question">
        <span>¿No tienes cuenta?</span>
        <a href="#" (click)="onRegister()">Registrarse</a>
      </div>
    </div>
  </mat-card>
</div>
